HMPS/src/reportconfig/xsd/wabacus.applications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
				targetNamespace="http://www.wabacus.com"
				xmlns:wxs="http://www.wabacus.com"
				elementFormDefault="qualified">
	 <xs:include schemaLocation="wabacus.util.xsd"/>
	 <xs:include schemaLocation="wabacus.resources.xsd"/>
	 
	 <xs:element name="applications">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:group ref="wxs:otherconfig"/>
    			<xs:element name="page" type="wxs:pageType" maxOccurs="unbounded"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
	 
	 <xs:group name="otherconfig">
	 	<xs:sequence>
	 		<xs:element ref="wxs:local-resources" minOccurs="0"/>
    		<xs:element ref="wxs:local-jsfiles" minOccurs="0"/>
    		<xs:element ref="wxs:local-cssfiles" minOccurs="0"/>
	 	</xs:sequence>
	 </xs:group>
	 
	 <xs:element name="local-resources">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="resource-file" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    			<xs:element ref="wxs:resources" minOccurs="0">
    			</xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="local-jsfiles">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="js-file" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    		</xs:sequence>
    	</xs:complexType>
   </xs:element>
    			
   <xs:element name="local-cssfiles">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="css-file" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    		</xs:sequence>
    	</xs:complexType>
   </xs:element>
   
   
   <xs:complexType name="pageType">
   	<xs:sequence>
   		<xs:element name="interceptor" minOccurs="0" maxOccurs="1">
   			<xs:complexType>
   				<xs:all>
   					<xs:element ref="wxs:imports" minOccurs="0"/>
   					<xs:element name="preaction" minOccurs="0" type="xs:string"/>
   					<xs:element name="postaction" minOccurs="0" type="xs:string"/>
   				</xs:all>
   			</xs:complexType>
   		</xs:element>
   		<xs:group ref="wxs:containerChildren"/>
   	</xs:sequence>
   	<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   	<xs:attributeGroup ref="wxs:containerCommonAttributes"/>
    	<xs:attribute name="js" type="xs:string"/>
    	<xs:attribute name="css" type="xs:string"/>
    	<xs:attribute name="checkpermission" type="wxs:booleanType"/>
    	<xs:attribute name="interceptor" type="xs:string"/>
    	<xs:attribute name="personalizeclass" type="xs:string"/>
   </xs:complexType>
   
   <xs:element name="panel">
   	<xs:complexType>
   		<xs:group ref="wxs:containerChildren"/>
   		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   		<xs:attributeGroup ref="wxs:containerCommonAttributes"/>
   	</xs:complexType>
   </xs:element>
   <xs:element name="framepanel">
   	<xs:complexType>
   		<xs:group ref="wxs:containerChildren"/>
   		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   		<xs:attributeGroup ref="wxs:containerCommonAttributes"/>
   	</xs:complexType>
   </xs:element>
   <xs:element name="tabpanel">
   	<xs:complexType>
   		<xs:group ref="wxs:containerChildren"/>
   		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   		<xs:attributeGroup ref="wxs:containerCommonAttributes"/>
   		<xs:attribute name="titlewidth" type="xs:string"/>
   		<xs:attribute name="titlestyle">
   			<xs:simpleType>
   				<xs:restriction base="xs:integer">
   					<xs:enumeration value="1"/>
   					<xs:enumeration value="2"/>
   				</xs:restriction>
   			</xs:simpleType>
   		</xs:attribute>
   		<xs:attribute name="asyn" type="wxs:booleanType"/>
   	</xs:complexType>
   </xs:element>
   <xs:element name="vpanel">
   	<xs:complexType>
   		<xs:group ref="wxs:containerChildren"/>
   		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   		<xs:attributeGroup ref="wxs:containerCommonAttributes"/>
   	</xs:complexType>
   </xs:element>
   <xs:element name="hpanel">
   	<xs:complexType>
   		<xs:group ref="wxs:containerChildren"/>
   		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   		<xs:attributeGroup ref="wxs:containerCommonAttributes"/>
   	</xs:complexType>
   </xs:element>
      
   <xs:element name="html">
   	<xs:complexType mixed="true">
   		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   		<xs:attribute name="belongto" type="xs:string"/>
   	</xs:complexType>
   </xs:element>
      
   <xs:element name="jsp">
   	<xs:complexType mixed="true">
   		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
   		<xs:attribute name="belongto" type="xs:string"/>
   		<xs:attribute name="iframe" type="wxs:booleanType"/>
   		<xs:attribute name="iframestyleproperty" type="xs:string"/>
   	</xs:complexType>
   </xs:element>
      
   <xs:element name="report">
   	<xs:complexType>
   		<xs:all>
   			<xs:element ref="wxs:interceptor" minOccurs="0"/>
   			<xs:element name="header" type="wxs:headerfooter" minOccurs="0"/>
   			<xs:element name="display" type="wxs:displayType" minOccurs="0"/>
   			<xs:element name="footer" type="wxs:headerfooter" minOccurs="0"/>
   			<xs:element ref="wxs:sql" minOccurs="0"/>
   			<xs:element ref="wxs:buttons" minOccurs="0"/>
   			<xs:element name="format" type="wxs:formatType" minOccurs="0"/>
   			<xs:element name="dataheader-format" type="wxs:formatType" minOccurs="0"/>
   		</xs:all>
    		<xs:attributeGroup ref="wxs:componentCommonAttributes"/>
    		<xs:attribute name="extends" type="xs:string"/>
    		<xs:attribute name="type" type="xs:string"/>
    		<xs:attribute name="class" type="xs:string"/>
    		<xs:attribute name="formatclass" type="xs:string"/>
    		<xs:attribute name="pagesize" type="xs:string"/>
    		<xs:attribute name="navigate_reportid" type="xs:string"/>
    		<xs:attribute name="navigate" type="xs:string"/>
    		<xs:attribute name="fixedcols" type="xs:nonNegativeInteger"/>
    		<xs:attribute name="fixedrows" type="xs:string"/>
    		<xs:attribute name="depends" type="xs:string"/>
    		<xs:attribute name="dependstype">
    			<xs:simpleType>
    				<xs:restriction base="xs:string">
    					<xs:enumeration value="display"/>
    					<xs:enumeration value="hidden"/>
    				</xs:restriction>
    			</xs:simpleType>
    		</xs:attribute>
    		<xs:attribute name="refreshparentonsave" type="xs:string"/>
    		<xs:attribute name="dependsparams" type="xs:string"/>
    		<xs:attribute name="cellresize">
    			<xs:simpleType>
    				<xs:restriction base="xs:integer">
    					<xs:enumeration value="0"/>
    					<xs:enumeration value="1"/>
    					<xs:enumeration value="2"/>
  					</xs:restriction>
    			</xs:simpleType>
    		</xs:attribute>
    		<xs:attribute name="celldrag">
    			<xs:simpleType>
    				<xs:restriction base="xs:integer">
    					<xs:enumeration value="0"/>
    					<xs:enumeration value="1"/>
  					</xs:restriction>
    			</xs:simpleType>
    		</xs:attribute>
    		<xs:attribute name="dataimport" type="xs:string"/>
    		<xs:attribute name="dataimportwidth" type="xs:string"/>
    		<xs:attribute name="dataimportheight" type="xs:string"/>
    		<xs:attribute name="dataexport" type="xs:string"/>
    		<xs:attribute name="plainexceltitle">
    			<xs:simpleType>
    				<xs:restriction base="xs:string">
    					<xs:enumeration value="none"/>
    					<xs:enumeration value="label"/>
    					<xs:enumeration value="column"/>
    				</xs:restriction>
    			</xs:simpleType>
    		</xs:attribute>
    		<xs:attribute name="jsvalidatetype" type="xs:string"/>
    		<xs:attribute name="onload" type="xs:string"/>
    		<xs:attribute name="border">
    			<xs:simpleType>
    				<xs:restriction base="xs:string">
    					<xs:enumeration value="none0"/>
    					<xs:enumeration value="none1"/>
    					<xs:enumeration value="horizontal0"/>
    					<xs:enumeration value="horizontal1"/>
    					<xs:enumeration value="horizontal2"/>
    					<xs:enumeration value="vertical"/>
    					<xs:enumeration value="all"/>
  					</xs:restriction>
    			</xs:simpleType>
    		</xs:attribute>
    		<xs:attribute name="scrollwidth" type="xs:string"/>
    		<xs:attribute name="scrollheight" type="xs:string"/>
    		<xs:attribute name="interceptor" type="xs:string"/>
    		<xs:attribute name="template" type="xs:string"/>
    		<xs:attribute name="dataexporttemplate" type="xs:string"/>
    		<xs:attribute name="rowselect">
    			<xs:simpleType>
    				<xs:restriction base="xs:string">
    					<xs:enumeration value="none"/>
    					<xs:enumeration value="single"/>
    					<xs:enumeration value="multiply"/>
    					<xs:enumeration value="checkbox"/>
    					<xs:enumeration value="radiobox"/>
  					</xs:restriction>
    			</xs:simpleType>
    		</xs:attribute>
    		<xs:attribute name="selectcallback" type="xs:string"/>
    		<xs:attribute name="rowordertype" type="xs:string"/>
    		<xs:attribute name="roworderclass" type="xs:string"/>
    		<xs:attribute name="personalizeclass" type="xs:string"/>
    		<xs:attribute name="refreshid" type="xs:string"/>
   	</xs:complexType>
   </xs:element>
   
   <xs:complexType name="headerfooter">
   	<xs:simpleContent>
   		<xs:extension base="xs:string"/>
   	</xs:simpleContent>
   </xs:complexType>
   
   <!-- 组件通用属性 -->
   <xs:attributeGroup name="componentCommonAttributes">
   	<xs:attribute name="id" type="wxs:idType" use="required"/>
   	<xs:attribute name="bordercolor" type="xs:string"/>
   	<xs:attribute name="left" type="xs:string"/>
   	<xs:attribute name="right" type="xs:string"/>
   	<xs:attribute name="top" type="xs:string"/>
   	<xs:attribute name="bottom" type="xs:string"/>
   	<xs:attribute name="width" type="xs:string"/>
   	<xs:attribute name="height" type="xs:string"/>
   	<xs:attribute name="align">
   		<xs:simpleType>
    			<xs:restriction base="xs:string">
    				<xs:enumeration value="left"/>
    				<xs:enumeration value="center"/>
    				<xs:enumeration value="right"/>
  				</xs:restriction>
    		</xs:simpleType>
   	</xs:attribute>
   	<xs:attribute name="valign">
   		<xs:simpleType>
    			<xs:restriction base="xs:string">
    				<xs:enumeration value="top"/>
    				<xs:enumeration value="middle"/>
    				<xs:enumeration value="bottom"/>
  				</xs:restriction>
    		</xs:simpleType>
   	</xs:attribute>
   	<xs:attribute name="title" type="xs:string"/>
   	<xs:attribute name="titlealign">
   		<xs:simpleType>
    			<xs:restriction base="xs:string">
    				<xs:enumeration value="top"/>
    				<xs:enumeration value="middle"/>
    				<xs:enumeration value="bottom"/>
    				<xs:enumeration value="left"/>
    				<xs:enumeration value="center"/>
    				<xs:enumeration value="right"/>
  				</xs:restriction>
    		</xs:simpleType>
   	</xs:attribute>
   	<xs:attribute name="subtitle" type="xs:string"/>
   	<xs:attribute name="parenttitle" type="xs:string"/>
   	<xs:attribute name="parentsubtitle" type="xs:string"/>
   	<xs:attribute name="scrollstyle">
    		<xs:simpleType>
    			<xs:restriction base="xs:string">
    				<xs:enumeration value="normal"/>
    				<xs:enumeration value="image"/>
  				</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    	<xs:attribute name="contextmenu" type="wxs:booleanType"/>
   </xs:attributeGroup>
   
   <!-- 容器通用属性 -->
   <xs:attributeGroup name="containerCommonAttributes">
   	<xs:attribute name="border" type="xs:nonNegativeInteger"/>
   	<xs:attribute name="margin" type="xs:string"/>
   	<xs:attribute name="margin_left" type="xs:string"/>
   	<xs:attribute name="margin_right" type="xs:string"/>
   	<xs:attribute name="margin_top" type="xs:string"/>
   	<xs:attribute name="margin_bottom" type="xs:string"/>
   	<xs:attribute name="titleposition">
   		<xs:simpleType>
    			<xs:restriction base="xs:string">
    				<xs:enumeration value="top"/>
    				<xs:enumeration value="bottom"/>
    				<xs:enumeration value="left"/>
    				<xs:enumeration value="right"/>
  				</xs:restriction>
    		</xs:simpleType>
   	</xs:attribute>
   	<xs:attribute name="scrollX" type="wxs:booleanType"/>
   	<xs:attribute name="scrollY" type="wxs:booleanType"/>
   	<xs:attribute name="onload" type="xs:string"/>
   </xs:attributeGroup>
   
   <!-- 容器的子标签集合 -->
   <xs:group name="containerChildren">
      <xs:sequence><!-- 套上sequence是为了choice可以指定maxOccurs="unbounded" -->
   		<xs:choice minOccurs="0"  maxOccurs="unbounded">
				<xs:element ref="wxs:report" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="wxs:html" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="wxs:jsp" minOccurs="0" maxOccurs="unbounded"/>
   			<xs:element ref="wxs:panel" minOccurs="0" maxOccurs="unbounded"/>
   			<xs:element ref="wxs:framepanel" minOccurs="0" maxOccurs="unbounded"/>
   			<xs:element ref="wxs:tabpanel" minOccurs="0" maxOccurs="unbounded"/>
   			<xs:element ref="wxs:vpanel" minOccurs="0" maxOccurs="unbounded"/>
   			<xs:element ref="wxs:hpanel" minOccurs="0" maxOccurs="unbounded"/>
   			<xs:element ref="wxs:buttons" minOccurs="0"/>
   			<xs:element name="header" type="wxs:headerfooter" minOccurs="0"/>
   			<xs:element name="footer" type="wxs:headerfooter" minOccurs="0"/>
   		</xs:choice>
   	</xs:sequence>
   </xs:group>
</xs:schema>